<header>
  <div class="brand">
    <h2>RentIt</h2>
  </div>
  <div class="nav">
    <ul>
    <li>{{#link-to "rentit.add" }}New Rental{{/link-to}}</li>
    <li>{{#link-to "rentit.index"}}Home{{/link-to}}</li>
    </ul>
  </div>
</header>

<div id="rentals">

  {{outlet}}

</div>

<div id="categories">
  {{#each cat in allCategories }}
    <span class="category-link">
      {{#link-to 'rentit.cat' cat}}
        {{cat}}
      {{/link-to}}
    </span>
  {{/each}}
</div>
<footer>
  <p>&copy; 2015 - ATM</p>
</footer>
